@use './hero';
@use './about';
@use './skills';
@use './projects';
@use './contact';
@use './footer';
@use './navbar';




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.App {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}
html {
    scroll-behavior: smooth;
  }